@charset "UTF-8";

body{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


header{
    margin-bottom: 2%;

    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}


main{
    width: 80%;
    flex: 1;

    display: flex;
        justify-content: top;
        align-items: center;
        flex-direction: column;

    overflow: auto;

}

nav{
    width: 100%;
    height: auto;

    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.menuHamburger {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 2%;
}


main button{
    width: 70%;
    height: 6em;


    font-size: 1.2em;
}

.formGeneric{
    width: 65%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    
        border: 1px solid black;
        border-radius: 0px 0px 10px 10px;
        border-top: none;
    
        padding: 2%;
}


.formGeneric label{
    width: 90%;

    text-align: start;

    margin: 1% 0 1% 0;
}

.formGeneric input{
    width: 90%;
    height: 3em;

    padding-left: 1%;
}


#tabelLanc{
    width: 69%;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    
    border: 1px solid black;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    
    padding: 2%;
    
}

#tabelLanc thead{
    width: 100%;
}


tbody{
    width: 100%;
}

.linhaTabela{
    width: 100%;

    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

}

#tabelLanc th{
    width: 30%;

    border-collapse: collapse;
    border: 1px solid black;
}

.celulaTabela{
    width: 30%;
    height: 1em;

    border-collapse: collapse;
    border: 1px solid black;
}

.btnGener{
    width: 20%;
    height: 3em;
    
    font-size: 1em;
    
    margin-top: 2%;
}

#outValorTot{
    width: 90%;
    height: 2.5em;

    display: flex;
        align-items: center;

    border: 1px solid black;

    padding-left: 1%;
    text-align: center;
}

footer{

}

